
	<div id="banner" class="row">
		<div class="col-sm-12 text-center">
			<h1 id="logo">Oakland Yoga</span></h1>
			<%= link_to "Buy Classes", root_path, class:'btn btn-lg btn-primary' %>
		</div>
	</div>
	<div class="row center_section">
		<div class="col-sm-8 col-sm-push-2">
			<h3 style="text-align:center">About Bikram Yoga</h3>
			<br />
			<p>
			Bikram Choudhury began studying yoga at the age of 4. At 12, he was the youngest ever-national yoga champion of India, holding the title for 3 consecutive years until Bishnu Gosh, his guru asked him to stop competing for the sake of the other participants. Bikram went on to pursue an athletic career as a marathon runner and a champion weightlifter, setting world record lifts and competing in the 1964 Olympic Games in Tokyo.</p>
			<br />
			<p>
			At age 20, a weightlifting accident severely crippled him. With the guidance of his guru, Bikram created his 26 pose series, which restored his health. Quickly he established himself as the world expert teacher, opening schools throughout the East. Combining eastern doctrine with 3 years of working with western doctors and scientists at Tokyo University Hospital, Bikram perfected his comprehensive system.
			</p>
			<br />
			<p>
			The technique was tailored for the western person- and, specifically for our cultural problems of job stress, overeating, bad posture and aggressive lifestyles. Bikram scientifically formulated and demonstrated yoga's ability to regenerate tissue and cure chronic ailments. Thus he became known as "The Worlds Most Knowledgeable Yoga Teacher." An exact technique and series of fixed poses, the class will bring health and peace to anyone. Bikram's yoga class is a demanding 26 pose (Asana) series. By performing each pose in the given order, these postures work synergistically to bring you peace of mind and to put your body back on track and into balance.
			</p>
			<br />
			<p>
			This yoga blends balance with strength and flexibility; Exertion with relaxation. By gently stretching and massaging the spine, muscles, tendons, joints and internal organs, you will achieve a suppleness your body hasn't felt in years. Through Bikram's series, your lung capacity is expanded.. Your bones are strengthened.. Your joints are opened and lubricated.. Your muscles are strengthened, toned, and made more flexible.. Your arteries and veins are dilated, allowing fresh oxygenated blood to revitalize every tissue in your body.
			</p>
			<br />
			<p>
			Yoga is not an enigma. It is a science, 5000 years old, and is an unrivalled means of improving the body by creating peace of mind and the absence of stress. But there are no promises of instant gratification. It does not magically change the world around you. However, if you practice this series to the best of your ability, you will arrive at a physical and mental well being that will effect the way you see the world and the way you operate within the world. As you advance in your practice - gradually deepening into the postures - you will find that, through your intention, you can effect change in any aspect of your life that you wish to change. Be prepared to work hard. Be prepared to make demands of yourself and to sweat. The room is hot by intention. Women wear leotards, men bathing trunks. Bring a towel and water bottle.
			</p>
			<br />
			<p>
			Have a great class!
			</p>
			<br />
			<p>
			Visit the Bikram Yoga homepage <a href="https://www.bikramyoga.com/">here</a>
			</p>
		</div>
	</div>
	