
	<div id="banner" class="row">
		<div class="col-sm-12 text-center">
			<h1 id="logo">Oakland Yoga</span></h1>
			<%= link_to "Buy Classes", root_path, class:'btn btn-lg btn-primary' %>
		</div>
	</div>
	<div class="row center_section">
		<div class="col-sm-8 col-sm-push-2" style="text-align:center">
			<div id="map_container">
				<iframe id="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJm04kiUOHj4AR8NnaLQ2OCXw&key=AIzaSyCzVtHcHSlKlK7w4jaa7IMAmkJ365MZ5P0" allowfullscreen></iframe>
			</div>
		</div>
	</div>