
	<div id="banner" class="row">
		<div class="col-sm-12 text-center">
			<h1 id="logo">Oakland Yoga</span></h1>
			<%= link_to "Buy Classes", root_path, class:'btn btn-lg btn-primary' %>
		</div>
	</div>
	<div class="row center_section">
		<div class="col-sm-8 col-sm-push-2" style="text-align: center">
			<h3>Bikram Yoga Postures</h3>
			<h5>Each posture is repeated twice</h5>
			<br />
			<%= image_tag 'chart.jpg', class: 'chart' %>
		</div>
	</div>
	