
	<div id="banner" class="row">
		<div class="col-sm-12 text-center">
			<h1 id="logo">Oakland Yoga</span></h1>
			<%= link_to "Buy Classes", root_path, class:'btn btn-lg btn-primary' %>
		</div>
	</div>
	<div class="row center_section">
		<div class="col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1">
			<%= image_tag 'studio.jpg', class: 'studio_pic' %> 
			<h3>Our Studio</h3>
			<p class="white">
			We are located at 580 Example Ave in Oakland, Ca. Our studio is on the third floor, second door to the right. The room is intentionally heated, so please bring a towel and a bottle of water. Bathrooms and changing rooms are available if needed. New students, please arrive 15 minutes early so we can discuss safety and cover basics.</p>
		</div>
	</div>
	