
	<div id="banner" class="row">
		<div class="col-sm-12 text-center">
			<h1 id="logo">Oakland Yoga</span></h1>
			<%= link_to "Buy Classes", root_path, class:'btn btn-lg btn-primary' %>
		</div>
	</div>
	<div class="row center_section">
		<div class="col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1">
			<h3 style="text-align:center">Teachers</h3>
			<br />
			<h4>Jane Smith</h4>
			<h5>Director</h5>
			<br />
			<%= image_tag "woman.jpg", class: 'tony' %>
			<p>Jane Smith is a graduate of the Yoga College of India and trained personally with Bikram Choudhury. Jane holds degrees in English literature from UC Santa Cruz and Biology at UC Irvine. Four years ago, Jane was helping to work towards a vaccine for Alzheimers disease and preparing for a single-handed sailboat race to Hawaii, when she suffered an injury to her lower spine. Faced with a doctor's recommendation of surgery, she began to practice at the Yoga College of India in San Francisco. Within one month, Jane's symptoms were greatly alleviated. Within four months, they were all but gone.
			<br /><br />
			Since then, Jane has immersed herself in Bikram's yoga and has experienced a transformation in body and spirit. Since she started practicing this method, Jane has lost 30 lbs and her remarkable recovery has inspired her to travel to India and other places around the world seeking a deeper knowledge of the practice and philosophy of Yoga.
			<br /><br />
			In 2001, Jane became a certified teacher of the Bikram method and has, since, been teaching regularly. Her precise, rhythmic teaching style has been well received by students at schools throughout the Bay Area.
			</p>
		</div>
	</div>
	