
	<div id="banner" class="row">
		<div class="col-sm-12 text-center">
			<h1 id="logo">Oakland Yoga</span></h1>
			<%= link_to "Buy Classes", root_path, class:'btn btn-lg btn-primary' %>
		</div>
	</div>
	<div class="row center_section">
		<div class="col-sm-8 col-sm-push-2">
			<h3 style="text-align:center">Instructors</h3>
			<br />
			<h4>Tony Carr</h4>
			<h5>Director</h5>
			<br />
			<%= image_tag "tony", class: 'tony' %>
			<p>Tony Carr is a graduate of the Yoga College of India and trained personally with Bikram Choudhury. Tony holds degrees in English literature from UCLA and Biology at UC Irvine. Four years ago, Tony was helping to work towards a vaccine for Alzheimers disease and preparing for a single-handed sailboat race to Hawaii, when he suffered an injury to his lower spine. Faced with a doctor's recommendation of surgery, he began to practice at the Yoga College of India in San Francisco. Within one month, Tony's symptoms were greatly alleviated. Within four months, they were all but gone.
			<br /><br />
			Since then, Tony has immersed himself in Bikram's yoga and has experienced a transformation in body and spirit. Since he started practicing this method, Tony has lost 30 lbs and his remarkable recovery has inspired him to travel to India and other places around the world seeking a deeper knowledge of the practice and philosophy of Yoga.
			<br /><br />
			In 1998, Tony became a certified teacher of the Bikram method and has, since, been teaching regularly. His precise, rhythmic teaching style has been well received by students at schools throughout the Bay Area.
			</p>
		</div>
	</div>
	