/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";



/* This section controls the zoom on the index images */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
  overflow: hidden;
}
.item img {
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img { 
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.6;
}

/* End of section */

$nav: black; 

body {
	background-color:black ;
}
#box1 {
	background: url(photo.jpg);
}

#banner {
	background: url(banner.jpg);
	-webkit-background-size: cover;
	height: 450px;
	position: relative !important;
	margin-top: none !important;
	padding-top: none !important;
	z-index: -5;
}
.border {
	border: 15px solid black;
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important
	;
}
.border-radius {
  	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.center_section {
	background-color:black; 
	padding-top: 80px; 
	padding-bottom: 80px; 
	z-index: 9; 
}
.center_padding {
	padding-bottom: 50px;
}
.content { 
	position: relative;
	top: -20px;
}
.contact_section {
	background-color: #1e1e1e; 
	margin-top: 30px;
	padding: 50px 0px 90px 0px; 
	h1, h1, h3, h4, p {
		color: white;
	}
	h5 {
		color: #ababab; 
	}

}
.footer { 
	color: grey; 
	padding-bottom: 80px; 
	background-color: #1e1e1e;
}
.grey { 
	color: grey;
}
.index_image {
	width: 100%;   
}
.photo_title {
	position: relative;
}
.photo_pad {
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 15px;
}
.photo_pad:hover {

}
#logo { 
	margin-top: 150px !important; 
	font-size: 120px; 
	color: white; 
	font-family: 'Mrs Sheppards', cursive;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar {
	padding: 10px; 
	position: fixed;
	z-index: 5;
	top: 0px;
	width: 100%;
	text-align: center;
	box-shadow: 0px 0px 5px black;
	.icon-bar {
		background: white !important; 
	}
}
.navbar_placeholder {
	width: 100%;
	height: 70px;
	background-color: none;
}
nav {
 	border: $nav !important; 
	border-radius: 0px !important; 
	background-color: $nav  !important;
	opacity: 0.5;
	a {
		color: white !important; 
		background-color: $nav  !important;
	} 
	.collapsed {
		border: 1px solid $nav  !important;
	}
	.collapsed:hover {
		background: $nav !important;
	}
}
.nav_item {
	margin-left: 23px;
	margin-right: 23px;
	font-size: 16px;
	color: white !important;

}
.navbar_nav {

}

