/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self


 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*AIzaSyCzVtHcHSlKlK7w4jaa7IMAmkJ365MZ5P0*/


.blue { 
	background-color: blue; 
}
.red { 
	background-color: red; 
}

/* This section controls the zoom on the index images */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
  overflow: hidden;
}
.item img {
  max-width: 100%;
   opacity: 0.6;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img { 
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
    opacity: 0.8;
}

/* End of section */

$nav: black; 

body {
	background-color:#1e1e1e ;
}
#box1 {
	background: url(photo.jpg);
}

#banner {
	background: url(banner.jpg);
	-webkit-background-size: cover;
	height: 450px;
	position: relative !important;
	margin-top: none !important;
	padding-top: none !important;
	z-index: -5;
}
.border {
	border: 15px solid black;
}
.border-radius {
  	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.book_container {
	text-align: center;
}
.book {
	height: 200px;
	margin-bottom: 60px;
}
.inner-border-radius {
  	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.center_section {
	background-color:black; 
	padding-top: 90px; 
	padding-bottom: 90px; 
	z-index: 9; 
	h1, h1, h3, h4, p {
		color: white;
	}
	hr {
		color: grey;
		background-color: grey;
	}
	h5 {
		color: #ababab; 
	}
	a {
		color: #ababab;
		text-decoration: underline;
	}
}
.center_row {
		background-color:black;  
		z-index: 9; 
		padding-top: 40px; 
		padding-bottom: 40px; 
		h1, h1, h3, h4, p {
			color: white;
		}
		hr {
			color: grey;
			background-color: grey;
		}
		h5 {
			color: #ababab; 
		}
		a {
			color: #ababab;
			text-decoration: underline;
	}	
}
.center_padding {
	padding-bottom: 50px;
}
.chart {
	margin-bottom: 30px;
}
.content { 
	position: relative;
	top: -20px;
}
.contact_section {
	background-color: #1e1e1e; 
	padding: 90px 0px 90px 0px; 
	h1, h1, h3, h4, p {
		color: white;
	}
	h5 {
		color: #ababab; 
	}

}
.footer { 
	color: grey; 
	padding-bottom: 80px; 
	background-color: #1e1e1e;
}
.grey { 
	color: grey;
}
.index_image {
	width: 100%; 
	position: relative;  
}
.photo_title {
	position: relative;
}
.photo_pad {
	padding-left: 0px;
	padding-right: 0px;
}
.photo_pad:hover {

}
.label {
	position: absolute; 
   	top: 28%; 
   	color: white;
   	z-index: 12;
   	font-size: 20px; 
   	left: 0;
   	width: 100%;
   	text-align: center;
   	line-height: 28px;
}
.label_big {
	position: absolute; 
   	top: 34%; 
   	color: white;
   	z-index: 12;
   	font-size: 20px; 
   	left: 0;
   	width: 100%;
   	text-align: center;
   	line-height: 28px;
}
.label_decker {
	position: absolute; 
   	top: 23%; 
   	color: white;
   	z-index: 12;
   	font-size: 20px; 
   	left: 0;
   	width: 100%;
   	text-align: center;
   	line-height: 28px;
}
#logo { 
	margin-top: 150px !important; 
	font-size: 120px; 
	color: white; 
	font-family: 'Mrs Sheppards', cursive;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar {
	padding: 10px; 
	position: fixed;
	z-index: 20;
	top: 0px;
	width: 100%;
	text-align: center;
	box-shadow: 0px 0px 5px black;
	.icon-bar {
		background: white !important; 
	}
}
.navbar_placeholder {
	width: 100%;
	height: 70px;
	background-color: black;
}
nav {
 	border: $nav !important; 
	border-radius: 0px !important; 
	background: rgba(0, 0, 0, 0.6) !important;
	
	a {
		color: white !important; 
		background-color: $nav  !important;
	} 
	.collapsed {
		border: 0px  !important;
	}
	.collapsed:hover {
		background: rgba(0, 0, 0, 0.5) !important;
	}
	a {
		background: transparent !important;
	}
}
.navbar-inner {
    background:transparent;
}
.nav_item {
	margin-left: 23px;
	margin-right: 23px;
	font-size: 16px;
	color: white !important;

}
.navbar_nav {

}
.schedule {
	width: 100%; 
	background-color: #1e1e1e; 
	border: 25px solid #1e1e1e; 
	color: white; 
	border-collapse: separate;
	text-align:center; 
}
.table-responsive {
	border: 0px;
}
.text {
	/*text-align:center;*/
}
.tony { 
	float: left;
	padding: 0px 30px 30px 0px;
}
.white {
	color: white; 
}
.white_bg {
	background-color: white; 
}

@media screen and (max-width:800px) {
	#logo { 
		margin-top: 150px !important; 
		font-size: 100px; 
		color: white; 
		font-family: 'Mrs Sheppards', cursive;
	}
}
@media screen and (max-width: 600px) {
	#logo { 
		margin-top: 150px !important; 
		margin-bottom: 30px;
		font-size: 80px; 
		color: white; 
		font-family: 'Mrs Sheppards', cursive;
	}
}
@media screen and (max-width: 425px) {
	#logo { 
		margin-top: 120px !important; 
		margin-bottom: 30px;
		font-size: 80px; 
		color: white; 
		font-family: 'Mrs Sheppards', cursive;
	}
}


